.AMD/
.ICEauthority
.PlayOnLinux/
.Popcorn-Time/
.Qarte/
.Rack/
.VeraCrypt/
.Xauthority
.android/
.ansible*
.apport-ignore.xml
.aptitude/
.asciidoc/
.asciinema/
.aspnet/
.atom/
.aws/
.azure/
.bash_history
.bash_logout
.bogofilter/
.byobu/
.cache/
.cargo/
.ccnet/
.cert/
.certspotter/
.cmake/
.compiz/
.config/
.cozy-desktop/
.cpan/
.dbus/
.dia/
.disruptive innovations sarl/
.dmrc
.docker/
.dropbox-dist/
.dropbox/
.dvdcss/
.electron/
.electron-gyp/
.etr/
.everpad/
.flickr/
.flickrfs/
.fontconfig/
.freerdp/
.fzf/
.gconf/
.gdfuse/
.geeknote/
.gem/
.gimp-2.8/
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gramps/
.gstreamer-0.10/
.gtk-bookmarks
.gtkboard/
.guake-indicator/
.hugin
.httpie/
.hugindata/
.ipython/
.java/
.joe_state
.juniper_networks/
.kde/
.keras/
.kismet/
.kpcli-history
.kube/
.lesshst
.libquicktime_codecs
.license/
.lightworks.thereCanBeOnlyOne
.lnav/
.local/
.macromedia/
.minikube/
.minishift/
.mono/
.moby/
.mozilla/
.mplayer/
.multirust
.multisystem-theme
.multisystem/
.muttrc
.mutt_certificates
.neighbornote/
.node-gyp/
.npm/
.nvpy/
.nylas-mail/
.oh-my-zsh/
.password-store
.pingus/
.pip/
.pkey
.pki/
.psensor/
.ptbt*
.pulse-cookie
.purple/
.PyCharm*
.pypar2/
.python_history*
.rancher/
.rclone.conf
.recently-used
.remmina/
.remotelauncherserver
.repo_.gitconfig.json
.repoconfig/
.rnd
.rpmdb/
.rustup/
.sane/
.scribus/
.selected_editor
.shutter/
.sqlite_history*
.ssh*
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.synaptic/
.t4k_common/
.terraform.d/
.terraform/
.thumbnails/
.thunderbird/
.tor-browser-en/
.trello-cli/
.tuxmath/
.update-timestamp
.urbackupclientgui_startonce
.vagrant.d/
.vault-token
.vim-*
.vimrc-*
.vim/
.viminfo
.vscode*
.vmware/
.wget-hsts
.Windows.md.un~ 
.wine-pipelight/
.wine/
.wireshark/
.xchat2/
.xinputrc
.xsel.log
.xsession-errors
.xsession-errors.old
.z
.zcompdump*
.zsh-update
.zsh_history
*calibre/
Applications/
Bureau/
Cozy*Drive/
Documents/
Dropbox/
Google Drive/
GOPROJECTS
go-dist
Images/
KVMs/
LICENSE
Lightworks/
Mod*
Musique/
My GCompris/
nohup.out
OneDrive*
OS.js-v2/
T*chargements/
Vid*
VirtualBox*
bin/
bookmarks.xml
dlang
dotfiles/
examples.desktop
mypass/
oauth_data
onedrive.log
own*
pampi/
PycharmProjects/
snap/
Steam/
workspace/
Windows.md~
