.AMD/
.ICEauthority
.PlayOnLinux/
.Popcorn-Time/
.Qarte/
.VeraCrypt/
.Xauthority
.Xauthority-KO
.apport-ignore.xml
.aptitude/
.asciinema/
.atom/
.aws/
.bash_history
.bash_logout
.byobu/
.cache/
.ccnet/
.cert/
.compiz/
.config/
.cpan/
.dbus/
.disruptive innovations sarl/
.dmrc
.dropbox-dist/
.dropbox/
.dvdcss/
.electron/
.everpad/
.flickr/
.flickrfs/
.freerdp/
.gconf/
.gdfuse/
.geeknote/
.gem/
.gimp-2.8/
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtkboard/
.guake-indicator/
.hugin
.hugindata/
.java/
.joe_state
.juniper_networks/
.kde/
.kismet/
.kpcli-history
.kube/
.lesshst
.libquicktime_codecs
.license/
.lightworks.thereCanBeOnlyOne
.local/
.macromedia/
.minikube/
.mono/
.mozilla/
.mplayer/
.neighbornote/
.node-gyp/
.notes_CEPH.md.swp
.npm/
.nvpy/
.nylas-mail/
.oh-my-zsh/
.password-store
.password-store-KO/
.pip/
.pki/
.profile
.ptbt1
.pulse-cookie
.purple/
.pypar2/
.rclone.conf
.recently-used
.remmina/
.remotelauncherserver
.repo_.gitconfig.json
.repoconfig/
.rnd
.rpmdb/
.sane/
.scribus/
.selected_editor
.shutter/
.signature-daffy
.ssh-ubuntu1404/
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.synaptic/
.t4k_common/
.thumbnails/
.thunderbird/
.tmux.conf
.tor-browser-en/
.tuxmath/
.urbackupclientgui_startonce
.vim/
.viminfo
.vimrc-MiniVim
.vimrc-daffy
.vmware/
.wget-hsts
.wine-pipelight/
.wine/
.wireshark/
.xchat2/
.xinputrc
.xscreensaver
.xsel.log
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-colerpia-5.0.2
.zcompdump-colerpia-5.1.1
.zcompdump-colerpia-5.2
.zcompdump-colerpia-5.2.colerpia.12070
.zsh-update
.zsh_history
*calibre/
Bureau/
Documents/
Dropbox/
Images/
LICENSE
Lightworks/
Mod*
Musique/
My GCompris/
OS.js-v2/
README.md
T*chargements/
Vid*
VirtualBox*
bin/
bookmarks.xml
coin
dotfiles/
dotfilesinit/
examples.desktop
mypass/
oauth_data
ownCloudTechsys/
owncCloudPerso/
pampi/
pub.decode
snap/
workspace/
