.AMD/
.ICEauthority
.PlayOnLinux/
.Popcorn-Time/
.Qarte/
.VeraCrypt/
.Xauthority
.apport-ignore.xml
.aptitude/
.asciinema/
.atom/
.aws/
.bash_history
.bash_logout
.byobu/
.cache/
.ccnet/
.cert/
.compiz/
.config/
.cpan/
.dbus/
.disruptive innovations sarl/
.dmrc
.dropbox-dist/
.dropbox/
.dvdcss/
.electron/
.everpad/
.flickr/
.flickrfs/
.freerdp/
.gconf/
.gdfuse/
.geeknote/
.gem/
.gimp-2.8/
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtkboard/
.guake-indicator/
.hugin
.hugindata/
.java/
.joe_state
.juniper_networks/
.kde/
.kismet/
.kpcli-history
.kube/
.lesshst
.libquicktime_codecs
.license/
.lightworks.thereCanBeOnlyOne
.local/
.macromedia/
.minikube/
.mono/
.mozilla/
.mplayer/
.neighbornote/
.node-gyp/
.npm/
.nvpy/
.nylas-mail/
.oh-my-zsh/
.password-store
.pip/
.pki/
.ptbt1
.pulse-cookie
.purple/
.pypar2/
.rclone.conf
.recently-used
.remmina/
.remotelauncherserver
.repo_.gitconfig.json
.repoconfig/
.rnd
.rpmdb/
.sane/
.scribus/
.selected_editor
.shutter/
.signature*
.ssh*
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.synaptic/
.t4k_common/
.thumbnails/
.thunderbird/
.tor-browser-en/
.tuxmath/
.urbackupclientgui_startonce
.vim/
.viminfo
.vmware/
.wget-hsts
.wine-pipelight/
.wine/
.wireshark/
.xchat2/
.xinputrc
.xsel.log
.xsession-errors
.xsession-errors.old
.zcompdump*
.zsh-update
.zsh_history
*calibre/
Bureau/
Documents/
Dropbox/
Images/
LICENSE
Lightworks/
Mod*
Musique/
My GCompris/
OS.js-v2/
T*chargements/
Vid*
VirtualBox*
bin/
bookmarks.xml
dotfiles/
examples.desktop
mypass/
oauth_data
own*
pampi/
snap/
workspace/
