[Desktop Entry]
Type=Application
Exec=/home/daffy/Dropbox/scripts/amazondrive.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[fr_FR]=Amazon Drive
Name=Amazon Drive
Comment[fr_FR]=Sync & Mount Amazon Drive
Comment=Sync & Mount Amazon Drive
