[Desktop Entry]
Type=Application
Exec=/home/daffy/.local/bin/protonvpn-tray
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[fr_FR]=ProtonVPN
Name=ProtonVPN
Comment[fr_FR]=Connect to VPN
Comment=Connect to VPN
